@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals */

body {
    font-family: 'Open Sans', sans-serif;
    @apply text-white bg-[#25272E] pb-[250px];
}

/* header start */
.header {
    @apply mt-5 lg:mt-[68px] mb-10 lg:mb-[53px];
}
.navbar-brand {
    @apply sm:me-10 lg:me-[148px];
}
.navbar {
    @apply grid;
}
ul.navbar-nav > li {
    @apply md:inline-block md:mr-5 lg:mr-[58px];
}
ul.navbar-nav > li > a {
    @apply text-[#DFDDDD];
}

.user-action {
    @apply ms-auto text-[#DFDDDD] flex;
}
.user-action li:not(:last-child) {
    @apply me-[20px];
}
.user-action .cart {
    @apply w-[25px] h-[25px] bg-[#FCC232] flex items-center justify-center rounded-lg relative;
}
.cart .badge {
    @apply w-[14px] h-[14px] bg-white rounded-full flex items-center justify-center text-[10px] absolute top-0 right-0 translate-x-[50%] -translate-y-[50%] text-black;
}

.navbar-brand {
    grid-area: navbarBrand;
}
.navbar-nav {
    grid-area: navbarNav;
    @apply mt-3 md:mt-0 ease-in-out duration-300 h-full;
}
.user-action {
    grid-area: userAction;
}
.navbar {
    grid-template-areas: 
        "navbarBrand navbarNav userAction";
    grid-template-columns: auto 1fr auto;
}

.swiper {
    @apply overflow-visible;
}